%% -*- erlang -*-
{sub_dirs, ["rel", "apps/sdgh"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors,
            {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
            {lager, "0.9.4",
                {git, "git://github.com/basho/lager",
                    {tag, "0.9.4"}}},
            {riak_core, "1.0.*",
                {git, "git://github.com/basho/riak_core",
                    {tag, "1.0.0"}}}
       ]}.
