%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8093"}.
{handoff_port,          "8103"}.
{log_dir,               "log"}.
{worker_write_path,     "sdgh3"}.
{webmachine_port,       "8003"}.

%%
%% etc/vm.args
%%
{node,                  "sdgh3@127.0.0.1"}.
{cookie,                "sdgh"}.