%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8096"}.
{handoff_port,          "8106"}.
{log_dir,               "log"}.
{worker_write_path,     "sdgh6"}.

%%
%% etc/vm.args
%%
{node,                  "sdgh6@127.0.0.1"}.
{cookie,                "sdgh"}.